@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Eiko";
        font-weight: 200;
        src:    url(./fonts/PPEiko-Thin.woff) format("woff"),
                url(./fonts/PPEiko-Thin.woff2) format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Suisse";
        font-weight: 300;
        src:    url(./fonts/SuisseIntl-Light-WebS.woff) format("woff"),
                url(./fonts/SuisseIntl-Light-WebS.woff2) format("woff2");
        font-display: swap;
    }

    body {
        background-color: #f4f9f1;
        font-family: "Suisse";
        padding: 1rem
    }

    @media screen and (min-width: 768px) {
        body {
            font-size: 1.125rem;
            padding: 2rem;
        }
    }

    a {
        text-decoration: underline;
    }
}